@use '/src/scss';

:global(.byk-chat) {
  .container {
    background: rgba(0, 60, 255, 0.8);
    border-radius: 8px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
}

:global(.byk-chat) {
  .content {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(167, 169, 171, 0.2);
    display: flex;
    flex-flow: column nowrap;
    left: 50%;
    min-width: 70%;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

:global(.byk-chat) {
  .title {
    font-family: scss.$font-chat;
    font-style: normal;
    font-weight: 400;
    font-size: scss.rem(20px);
    line-height: 30px;
    text-align: center;
    color: scss.$color-mustakivi;
    margin: 0;
  }
}

:global(.byk-chat) {
  .actions {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;

    button {
      width: 100%;
    }
  }
}