@import '../../scss/main';

.profile {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  width: 77px;
  height: 77px;
  cursor: pointer;
  background-color: $color-primary;
  font-family: $font-chat;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  box-sizing: border-box;
}

.bubble {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  position: relative;
  top: -18px;
  left: -18px;
  background-color: $color-primary;
  color: #ffffff;
  font-family: $font-chat;
  border-radius: 50%;
}
