@use '/src/scss';
@import "normalize.css";

:global(.byk-chat) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
    text-align: center;
  }

  .header {
    padding: 0 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}