$color-primary: #003cff;
$color-secondary: #3c0078;
$color-black: #000;
$color-gray: #a7a9ab33;
$color-placeholder-gray: #a7a9ab;
$color-input-border-gray: #83878b;
$color-background-gray: #f0f1f2;
$color-white: #ffffff;
$color-focus-light: #ffffff5e;
$color-focus-dark: #003cff26;
$color-scrollbar-normal: rgba(0, 0, 0, 0.2);
$color-scrollbar-hover: rgba(0, 0, 0, 0.3);
$color-scrollbar-active: rgba(0, 0, 0, 0.5);
$color-header-bottom-border: #ffffff30;
