@import '../../scss/main';

.keypad {
  display: flex;
  align-items: center;
  height: 50px;
  bottom: 0;
  padding: 5px;
  &.disabled {
    pointer-events: none;
    user-select: none;
    path {
      stroke: #575a5d;
    }
  }
  .input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-right: 0.5em;
    flex: 1;
    border: 0;
    outline: none;
    border-bottom: 1px solid $color-primary;
    border-radius: 0;
    padding-bottom: 5px;
    color: inherit;
    font: inherit;
    &::placeholder {
      color: $color-placeholder-gray;
    }
    &:disabled {
      pointer-events: none;
      user-select: none;
      background-color: transparent;
      border-bottom: 1px solid $color-placeholder-gray;
    }
  }
  .button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0.5em;
    &:focus {
      outline: 2px solid $color-focus-dark;
      border-radius: 1px;
    }
  }
}
